{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "env": {
    "browser": true,
    "jasmine": true,
    "jest": true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "parser": "@typescript-eslint/parser",
  "globals": {
    "module": "writable",
    "process": "readonly",
    "Promise": "readonly",
    "ga": "readonly"
  },
  "rules": {
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "react/prop-types": "off",
    "no-console": [
      "error",
      {
        "allow": [
          "info",
          "warn",
          "error"
        ]
      }
    ],
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.stories.ts", "**/*.stories.tsx", "**/*.test.ts", "**/*.test.tsx"],
      "rules": {
        "no-console": "off",
        "@typescript-eslint/no-empty-function": "off"
      }
    }
  ]
}